@font-face {
  font-family: "PP Neue Montreal";
  src:
    local("PP Neue Montreal"),
    local("PPNeueMontreal");
  font-display: swap;
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "PP Neue Montreal";
  src:
    local("PP Neue Montreal Medium"),
    local("PPNeueMontreal-Medium");
  font-display: swap;
  font-style: normal;
  font-weight: 500 800;
}
